html, body, .map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px
}

body {
	font-size: 62.5%
}

header a h1 {
	background: url(http://barbados.org/images/barbados-tourism-encyclopedia-logo.png) no-repeat;
	width: 33%;
	height: 80px;
	text-indent: -99999px;
	margin: 0 0 0 10%;
	z-index: 2;
	position: absolute;
	top: 0;
	right: 5%;
}

header .menu-btn {
	font-size: 3em;
	position: absolute;
	top: 3%;
	left: 3%;
	z-index: 3;
	color: #000;
	display: none;
}

.result-wrapper {
    width: 100%;
    max-width: 1280px;
    position: relative;
}

.content-section {
	flex: 1;
	transform: translate3d(0,0,0);
	transition: transform .3s;
}

.content-section.isOpen {
	transform: translate3d(30%,0,0);
}

.results-content {
    width: 30%;
    position: absolute;
    top: 0;
    z-index: 2;
}

.results-content .search {
	margin: 5% 0 5% 25%;
}

.results-content .search h2 {
	display: inline-block;
	width: 10%;
}

/* SEARCH SELECT REPLACEMENT */
.wrapper-dropdown {
	position: relative;
    width: 70%;
    padding: 10px;
 
    background: #fff;
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;
 
    font-weight: bold;
    color: #8AA8BD;
}

.wrapper-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #8aa8bd transparent;
}

.wrapper-dropdown .dropdown {
  /* Size & position */
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;
 
    /* Styles */
    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    transition: all 0.5s ease-in;
    list-style: none;
 
    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #8aa8bd;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    transition: all 0.3s ease-out;
}

.wrapper-dropdown .dropdown li i {
    float: right;
    color: inherit;
}
 
.wrapper-dropdown .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}
 
.wrapper-dropdown .dropdown li:last-of-type a {
    border-radius: 0 0 7px 7px;
    border: none;
}

.wrapper-dropdown .dropdown li:hover a {
    background: #f3f8f8;
}

.wrapper-dropdown .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;    
}
 
.wrapper-dropdown .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}

.wrapper-dropdown.selected .dropdown {
    opacity: 1;
    pointer-events: auto;
}

h3.results-label, .result-list {
	padding: 0 0 0 25%;
}

h3.results-label {
	font-size: 2em;
}

.result-list {
	width: 100%;
}

.result-list li {
	/*border-bottom: 1px solid #000;*/
	padding: 10px 0;
	margin: 0 10px 0 0;
	font-size: 1.6em;
}

.result-list li.active {
	font-weight: bold;
}

.result-list li a {
	color: #333;
}

.result-list li a:hover {
	text-decoration: none;
	font-weight: bold;
}

.map-canvas {
    width: 100%;
}

.info {
	display: none;
	width: 35%;
	position: absolute;
    bottom: 15%;
    right: 5%;
	padding: 20px 2%;
	background: #d2f0f9;
}

.info h2 {
	font-size: 2.2em;
}

.info h3 {
	font-size: 2em;
}

.info .poi-image{
	background-size: cover;
	width: 100%;
	height: 250px;
}

.info p {
	padding: 10px 0 0;
	font-size: 2em;
}


/* MEDIA QUERIES */

@media screen and (max-width: 800px) {

	header a h1 {
		width: 70%;
	}

	header .menu-btn {
		display: block;
		cursor: pointer;
	}

	.results-content {
	    flex: 1;
		transform: translate3d(-120%,0,0);
		transition: transform .3s;
	}

	.results-content.isOpen {
		transform: translate3d(0,0,0);
	}

	.results-content .search {
		margin-left: 0;
	}

	h3.results-label, .result-list {
		padding: 0;
	}

	.info {
		position: static;
	    width: 100%;
	    height: 100%;
	}

}

@media screen and (max-width: 600px) {

	.content-section.isOpen {
		transform: translate3d(90%,0,0);
	}

	.results-content {
	    width: 90%;
	}

	.wrapper-dropdown {
		width: 50%;
	}

}